<%= render partial: "shared/partial_sidebar_no_user" %>

<div class="ui vertically divided page grid right">
	<div class="two column row">
		<div class="column">
			<h2 class="ui header">Login</h2>
			<div class="ui form">
				<%= render partial: "shared/login_form", locals: {button_label: "Login"} %>
			</div>
		</div>
		<div class="column"></div>
	</div>
</div>
