<%= render partial: "shared/partial_sidebar_no_user" %>


<div class="ui vertically divided page grid right">
  <div class="two column row">
    <div class="column">
      <h2 class="ui header">Sign up</h2>
      <div class="ui form">
      <%= render partial: "shared/user_form", object: @user, locals: {button_label: "Create user"} %>
      </div>
    </div>
    <div class="column">
    </div>
  </div>
</div>

