<%= form_for ([parent, comment]) do |f| %>
<div class="field">
  <div class="ui left labeled input">
  	<%= f.text_field :title, placeholder: "Tie" %>
    <div class="ui corner label">
      <i class="icon asterisk"></i>
    </div>
  </div>
</div>
  <div class="field">
  	<%= f.text_area :body, placeholder: "Comment body..." %>
    <div class="ui corner label">
      <i class="icon asterisk"></i>
    </div>
  </div>
  <div class="ui fluid blue labeled submit icon button">
    <i class="icon edit"></i>
    <%= f.submit button_label, :class => "ui button" %>
  </div>
<% end %>

