<%=form_for :user do |f| %>
<div class="field">
	<%=f.text_field :email, placeholder:"E-mail" %>
</div>
<div class="field">
	<%=f.password_field :password, placeholder: "Password" %>
</div>
	<%=f.submit button_label, class: "ui green button" %>

<% end %>
