<div class="ui leftbar inverted vertical menu">

  <div class="header item">
    <h4 class="ui header center aligned">Awesome Blog</h4>
  </div>
    <a class="item" href="/users">
      All Users
    </a>
    <a class="item" href="/posts">
      All Posts
    </a>
    <a class="item" href="/users/new">Sign Up</a>
    <a class="item" href="/login">Login</a>
  </div>
  <!-- <div class="item">
    <b>More</b>
    <div class="menu">
      <a class="item">About</a>
      <a class="item">Contact Us</a>
    </div> -->


