<!-- edit.html.erb -->
<%= render partial: "shared/partial_sidebar" %>

<div class="ui vertically divided grid right">
  <div class="one column row">
    <div class="left floated twelve wide column">
      <h2>Edit Post</h2>
    </div><!-- /.column -->
  </div><!-- /.row -->
  <div class="one column row">
    <div class="left floated twelve wide column">
      <!-- when using post form, drop it into a div class="post-form" -->
      <!--to pick up appropriate styles -->
      <div class="post-form">
      <%= render partial: "shared/post_form", object: @post, locals: {user: @user, button_label: "Create post"} %>
      </div>
    </div><!-- /.column -->
  </div><!-- /.row -->
</div><!-- /.grid -->