<!-- new.html.erb -->

<%= render partial: "shared/partial_sidebar" %>

<div class="ui vertically divided page grid right">
  <div class="one column row">
    <div class="left floated twelve wide column">
      <div class="row"><h2 class="ui header">Add a New Post</h2></div>
    </div><!-- /.column -->
  </div><!-- /.row -->
  <div class="one column row">
    <div class="left floated twelve wide column">
      <!-- when using post form, drop it into a div class="post-form" -->
      <!--to pick up appropriate styles -->
      <div class="post-form" data-id=<%=@user.id %>   >
      <%= render partial: "shared/post_form", object: @post, locals: {user: @user, button_label: "Create post"} %>
      </div>
    </div><!-- /.column -->
  </div><!-- /.row -->
</div><!-- /.grid -->
<div id="results" class="ui vertically divided page grid right">
</div>


