/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 html, body {
  font-family: 'Open Sans', sans-serif;
}

.ui.leftbar {
  position: fixed;
  width: 75px;
  margin: 0 !important;
  height: 100% !important;
  border-radius: 0px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-y: auto;
  overflow-y: auto;
  top: 0px;
  left: 0px;
  z-index: 999;
}

.right {
	position: relative;
	left: 14rem;
}

/*#footer {
    background-color: red;
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}*/
