/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 html, body {
  font-family: 'Open Sans', sans-serif;
  background-image: url("http://s18.postimg.org/g12zsjnc9/giftly.png");
  /*background-image: url("http://www.artmoth.com/images/content/backgrounds/3-1283209507-bg-pastel-hello-kitty.gif");*/
}

a {
  text-decoration: none;
  color: #5AC3F5;
}

.ui.leftbar {
  position: fixed;
  width: 75px;
  margin: 0 !important;
  height: 100% !important;
  border-radius: 0px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-y: auto;
  overflow-y: auto;
  top: 0px;
  left: 0px;
  z-index: 999;
}

.right {
	position: relative;
	left: 14rem;
}

.footer {
  bottom: 0;
  width: 100%;
  right: 0;
  height: 3em;
  background-color: red;
}

.inline {
  float: left;
}
