<body>

<div class="ui fixed transparent inverted main menu">
		<div class="container">
			<div class="title item">
				<b>Get ready..... BLOG!</b>
			</div>
		</div>
	</div>
</div>


<div class="ui two column page grid">
	<div class="column">
		<div class="ui segment">
			<b>Welcome to the Awesome Blogger</b>
			<p> Dog Doggington has something to say. Share your feelings too!</p>
		</div> <!-- close segment -->
		<div class="ui circular rotate reveal image">
			<img class="visible content" src="http://semantic-ui.com/images/demo/photo2.jpg" alt="rss feed"/>
			<img class="hidden content" img src="/Dogspost.png" alt="rss feed"/>
		 </div><!-- closes circular --> 
	</div><!-- closes column -->
	<div class="column">
		<div class="ui labeled vertical fluid inverted icon menu">
			<a class="item" href="/users">
				<i class="icon star"></i>
				Awesome Blog Users
			</a>
			<a class="item">
				<i class="icon lab"></i>
				Make a User
			</a>
			<a class="item">
				<i class="icon star"></i>
				About
			</a>
		</div><!-- closes icon menu -->
	</div><!-- closes column -->

</div><!-- closes two column grid -->


	
</body>



