<body>
<div class="hero">
  <h1>Awesome Blog</h1>
  <p>Big. Bad. Bloggers.</p>
  <div class="home-buttons">
    <a class="ui green button" href="/users/new">Sign up</a>
    <%= link_to "Login", login_url, :class => "ui teal button" %>
<!--     <a class="ui teal button" href="/users">See the Bloggers</a> -->
  </div>
</div>
<div class="ui fixed transparent inverted main menu">
    <div class="container">
      </div>
    </div>
  </div>


<div class="ui one column page grid">
 <div class="column center aligned">
      <b>Welcome to the Awesome Blogger</b>
      <p> Blog with us. You know you want to.</p>
      <a href="/users/new">Get started.</a>
    </div>
  </div>

  </div>

</div>




